SQL Agent with Langgraph

In [7]:
import psycopg2
import sqlite3

In [9]:
connection1 = psycopg2.connect(
    dbname="lms_test",
    user="admin_learning",
    password="postgres",
    host="localhost",
    port="5432")
connection2 = sqlite3.connect('my.db')

In [10]:
connection1

In [11]:
connection2

In [84]:
table_creation_query1 = """
CREATE TABLE IF NOT EXISTS employees (
    employee_id INTEGER PRIMARY KEY,
    first_name VARCHAR(255),
    last_name VARCHAR(255),
    email VARCHAR(255) UNIQUE,
    age INTEGER,
    hire_date DATE,
    department VARCHAR(255),
    salary DECIMAL(10, 2)
);
"""

In [85]:
table_creation_query2 = """
CREATE TABLE IF NOT EXISTS customers (
    customer_id INTEGER PRIMARY KEY,
    first_name VARCHAR(255),
    last_name VARCHAR(255),
    email VARCHAR(255) UNIQUE,
    age INTEGER,
    city VARCHAR(255)
);
"""

In [86]:
table_creation_query3 = """
CREATE TABLE IF NOT EXISTS orders (
    order_id INTEGER PRIMARY KEY AUTOINCREMENT,
    customer_id INTEGER NOT NULL,
    product VARCHAR(255),
    quantity INTEGER,
    order_date TEXT NOT NULL,
    FOREIGN KEY (customer_id) REFERENCES customers(customer_id)
);
"""

In [87]:
cursor = connection2.cursor()

In [88]:
cursor.execute(table_creation_query1)
cursor.execute(table_creation_query2)
cursor.execute(table_creation_query3)
connection2.commit()

In [89]:
insert_query1 = """
INSERT INTO employees (employee_id,first_name, last_name, email, age, hire_date, department, salary)
VALUES (?,?, ?, ?, ?, ?, ?, ?);
"""
insert_query2 = """
INSERT INTO customers (customer_id,first_name, last_name, email, age, city)
VALUES (?,?, ?, ?, ?, ?);
"""
insert_query3 = """
INSERT INTO orders (order_id, customer_id, product, quantity, order_date)
VALUES (?,?, ?, ?, ?);
"""
data1 = [
    (1,'John', 'Doe', 'john.doe@example.com', 30, '2023-01-15', 'IT', 75000.00),
    (2,'Jane', 'Smith', 'jane.smith@example.com', 28, '2023-02-20', 'HR', 65000.00),
    (3,'Mike', 'Johnson', 'mike.johnson@example.com', 35, '2023-03-10', 'Finance', 80000.00),
    (4,'Emily', 'Brown', 'emily.brown@example.com', 32, '2023-04-05', 'Marketing', 70000.00),
    (5,'David', 'Wilson', 'david.wilson@example.com', 40, '2023-05-12', 'IT', 90000.00),
    (6,'Sarah', 'Davis', 'sarah.davis@example.com', 29, '2023-06-18', 'HR', 62000.00),
    (7,'Robert', 'Miller', 'robert.miller@example.com', 45, '2023-07-22', 'Finance', 85000.00),
    (8,'Olivia', 'Taylor', 'olivia.taylor@example.com', 33, '2023-08-30', 'Marketing', 72000.00),
    (9,'James', 'Anderson', 'james.anderson@example.com', 38, '2023-09-14', 'IT', 88000.00),
    (10,'Emma', 'Thomas', 'emma.thomas@example.com', 31, '2023-10-25', 'HR', 63000.00)]

data2 = [
    (1,'Alice', 'Green', 'alice.green@example.com', 27, 'New York'),
    (2,'Bob', 'White', 'bob.white@example.com', 34, 'Los Angeles'),
    (3,'Catherine', 'Black', 'catherine.black@example.com', 29, 'Chicago'),
    (4,'David', 'Brown', 'david.brown@example.com', 36, 'Houston'),
    (5,'Emma', 'Jones', 'emma.jones@example.com', 31, 'Phoenix'),
    (6,'Frank', 'Miller', 'frank.miller@example.com', 28, 'Philadelphia'),
    (7,'Grace', 'Davis', 'grace.davis@example.com', 33, 'San Antonio'),
    (8,'Henry', 'Wilson', 'henry.wilson@example.com', 30, 'San Diego'),
    (9,'Isabel', 'Moore', 'isabel.moore@example.com', 32, 'Dallas'),
    (10,'Jack', 'Taylor', 'jack.taylor@example.com', 35, 'San Jose')]


data3 = [
    (1, 'Laptop', 2, '2023-01-20'),
    (2, 'Smartphone', 1, '2023-02-25'),
    (3, 'Tablet', 5, '2023-03-15'),
    (4, 'Monitor', 3, '2023-04-10'),
    (5, 'Printer', 1, '2023-05-20'),
    (6, 'Headphones', 4, '2023-06-30'),
    (7, 'Keyboard', 2, '2023-07-15'),
    (8, 'Mouse', 6, '2023-08-05'),
    (9, 'Webcam', 1, '2023-09-10'),
    (10, 'Charger', 10, '2023-10-20')]
# Insert data into employees table

In [100]:
cursor.execute("select * from orders")
rows = cursor.fetchall()

In [101]:
for row in rows:
    print(row)

(1, 1, 'Laptop', 2, '2023-01-20')
(2, 2, 'Smartphone', 1, '2023-02-25')
(3, 3, 'Tablet', 5, '2023-03-15')
(4, 4, 'Monitor', 3, '2023-04-10')
(5, 5, 'Printer', 1, '2023-05-20')
(6, 6, 'Headphones', 4, '2023-06-30')
(7, 7, 'Keyboard', 2, '2023-07-15')
(8, 8, 'Mouse', 6, '2023-08-05')
(9, 9, 'Webcam', 1, '2023-09-10')
(10, 10, 'Charger', 10, '2023-10-20')

In [97]:
cursor.execute("select * from customers")

In [ ]:
cursor = connection1.cursor()

In [118]:
connection1.rollback()  # Reset the transaction state if it is aborted

In [ ]:
cursor.execute("select * from accounts_user")
rows = cursor.fetchall()
for row in rows:
    print(row)

Process start(input) -> first_tool_call -> list_tables_tool(tables)  -> model_get_schema  (all data)->get_schema_tool  ->  query_gen (--> correct_query -> execute_query ) -> query_gen ->end

In [123]:
from langchain_community.utilities import SQLDatabase

db = SQLDatabase.from_uri("postgresql+psycopg2://admin_learning:postgres@localhost:5432/lms_test")

In [126]:
db.dialect

'postgresql'

In [128]:
db.get_table_names()

/tmp/ipykernel_27294/4073026401.py:1: LangChainDeprecationWarning: The method `SQLDatabase.get_table_names` was deprecated in langchain-community 0.0.1 and will be removed in 1.0. Use :meth:`~get_usable_table_names` instead.
  db.get_table_names()

['accounts_departmenthead',
 'accounts_employee',
 'accounts_parent',
 'accounts_upload_emp_file',
 'accounts_user',
 'accounts_user_groups',
 'accounts_user_user_permissions',
 'audit_logs_auditlog',
 'auth_group',
 'auth_group_permissions',
 'auth_permission',
 'calendarlms_calendarattendance',
 'calendarlms_calendarattendance_available_preson_status',
 'calendarlms_calendarlms',
 'calendarlms_calendarlms_actual',
 'calendarlms_calendarnomination',
 'calendarlms_calendarnomination_self',
 'calendarlms_emaillog',
 'calendarlms_employeefeedback',
 'calendarlms_quizquestion',
 'calendarlms_resultquizquestion',
 'calendarlms_takenquizquestion',
 'core_activitylog',
 'core_newsandevents',
 'core_semester',
 'core_session',
 'course_course',
 'course_course_req',
 'course_courseallocation',
 'course_courseallocation_courses',
 'course_courseassign',
 'course_coursecompletion',
 'course_courseoffer',
 'course_program',
 'course_requestedvideo',
 'course_upload',
 'course_uploadvideo',
 'course_uploadvideo_req',
 'course_uploadvideo_req_requested_by_user_list',
 'course_videoplayback',
 'course_videoplayback_archive',
 'course_videoplayback_req',
 'dashboard_userdashboardmodule',
 'django_admin_log',
 'django_content_type',
 'django_migrations',
 'django_session',
 'jet_bookmark',
 'jet_pinnedapplication',
 'n8n_chat_histories',
 'payments_invoice',
 'quiz_choice',
 'quiz_essayquestion',
 'quiz_mcquestion',
 'quiz_progress',
 'quiz_question',
 'quiz_question_quiz',
 'quiz_quiz',
 'quiz_sitting',
 'result_result',
 'result_takencourse']

In [140]:
import os
from langchain_groq import ChatGroq

os.environ["GROQ_API_KEY"] = "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"  # Replace with your actual API key

llm = ChatGroq(model="llama3-70b-8192")

In [141]:
llm.invoke("Hello world")

AIMessage(content='The classic "Hello, World!" greeting!\n\nIt\'s great to see you here! Is there something on your mind that you\'d like to chat about, or are you just saying hello? I\'m here to listen and help if you need it.', additional_kwargs={}, response_metadata={'token_usage': {'completion_tokens': 51, 'prompt_tokens': 12, 'total_tokens': 63, 'completion_time': 0.156007429, 'prompt_time': 0.000117629, 'queue_time': 0.053592970999999996, 'total_time': 0.156125058}, 'model_name': 'llama3-70b-8192', 'system_fingerprint': 'fp_dd4ae1c591', 'finish_reason': 'stop', 'logprobs': None}, id='run-b4fb0dda-dcd2-4412-b692-2af277356eae-0', usage_metadata={'input_tokens': 12, 'output_tokens': 51, 'total_tokens': 63})

In [143]:
from langchain_community.agent_toolkits import SQLDatabaseToolkit


toolkit = SQLDatabaseToolkit(db=db, llm=llm)

In [150]:
tool= toolkit.get_tools()

In [151]:
for i in tool:
    print(i.name)

sql_db_query
sql_db_schema
sql_db_list_tables
sql_db_query_checker

In [152]:
list_tables_tool = next ((t for t in tool if t.name == "sql_db_list_tables"),None)

In [155]:
list_tables_tool.invoke("List all tables in the database")

'accounts_departmenthead, accounts_employee, accounts_parent, accounts_upload_emp_file, accounts_user, accounts_user_groups, accounts_user_user_permissions, audit_logs_auditlog, auth_group, auth_group_permissions, auth_permission, calendarlms_calendarattendance, calendarlms_calendarattendance_available_preson_status, calendarlms_calendarlms, calendarlms_calendarlms_actual, calendarlms_calendarnomination, calendarlms_calendarnomination_self, calendarlms_emaillog, calendarlms_employeefeedback, calendarlms_quizquestion, calendarlms_resultquizquestion, calendarlms_takenquizquestion, core_activitylog, core_newsandevents, core_semester, core_session, course_course, course_course_req, course_courseallocation, course_courseallocation_courses, course_courseassign, course_coursecompletion, course_courseoffer, course_program, course_requestedvideo, course_upload, course_uploadvideo, course_uploadvideo_req, course_uploadvideo_req_requested_by_user_list, course_videoplayback, course_videoplayback_archive, course_videoplayback_req, dashboard_userdashboardmodule, django_admin_log, django_content_type, django_migrations, django_session, jet_bookmark, jet_pinnedapplication, n8n_chat_histories, payments_invoice, quiz_choice, quiz_essayquestion, quiz_mcquestion, quiz_progress, quiz_question, quiz_question_quiz, quiz_quiz, quiz_sitting, result_result, result_takencourse'

In [154]:
get_schema_tool = next ((t for t in tool if t.name == "sql_db_schema"),None)

In [ ]:
print(get_schema_tool.invoke("accounts_user"))